$darkblue: #2980b9;
$lightblue: #3498db;
$lightgrey: #EBE8E8;
$white: #ffffff;
$black: #000000;
$red: #e74c3c;
$green: #1abc9c;

@mixin clearfix {
  &:before,
  &:after {
    content:"";
    display: table;
  }
  &:after { clear:both; }
  & { *zoom:1; }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: .8em;
}

h1,
h2,
h3,
p {
  font-weight: normal;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 5px;
}

a {
  color: $darkblue;
  text-decoration: none;
  &:hover {
    color: $lightblue;
  }
}

header {
  background-color: $white;
  height: 160px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  .inner {
    margin: 0 auto;
    max-width: 1140px;
    padding: 30px 0 20px 0;
    width: 80%;
    .explanation {
      position: relative;
      width: 65%;
      .messages {
        background-color: #f7f7f7;
        border-bottom: none;
        bottom: -30px;
        display: none;
        padding: 4px 10px;
        position: absolute;
        right: 2px;
        text-align: center;
        width: 250px;
        z-index: 10000;
        &.no-phrases {
          background-color: $red;
          color: $white;
          width: 400px;
          .unfilter {
            color: $white;
            &:hover {
              color: $lightgrey;
            }
          }
        }
        .unfilter {
          color: $darkblue;
          cursor: pointer;
          position: absolute;
          right: 5px;
          text-align: right;
          top: 5px;
          &:hover {
            color: $lightblue;
          }
        }
      }
    }
    p {
      line-height: 1.5em;
      margin-bottom: 0;
      width: 90%;
    }
  }
}

.inner {
  margin: 0 auto;
  max-width: 1140px;
  width: 80%;
  .wrapper {
    margin: 60px 0 40px 0;
    @include clearfix;
  }
  .main {
    float: left;
    margin-top: 100px;
    width: 65%;
  }
  .feed {
    background-color: #f7f7f7;
    margin-left: 70px;
    padding: 15px 0 20px 0;
    position: relative;
  }
  .day {
    background-color: #F2F0F0;
    margin-bottom: 40px;
    position: relative;
    @include clearfix;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      display: inline-block;
      font-size: .9em;
      left: -70px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -2px;
      z-index: 999;
    }
    .bar {
      background-color: $darkblue;
      cursor: pointer;
      height: 7px;
      position: relative;
      &:hover {
        background-color: $lightblue;
      }
      &.weekend {
        background-color: #f1c40f;
      }
      .node {
        background-color: $white;
        border-radius: 50%;
        border: 2px solid $black;
        height: 12px;
        position: absolute;
        top: -3px;
        width: 12px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        &.inactive {
          background-color: rgba(84, 84, 84, .7);
          border-color: rgba(84, 84, 84, .7);
        }
        .node-hover {
          background-color: $white;
          border: 1px solid $black;
          border-radius: 3px;
          display: none;
          font-size: .9em;
          height: auto;
          left: 6px;
          padding: 10px;
          position: absolute;
          top: 6px;
          width: 300px;
          z-index: 100001;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
        }
      }
      .count {
        background-color: $red;
        border-radius: 50%;
        color: $white;
        font-weight: bold;
        height: 30px;
        line-height: 24px;
        padding: 3px;
        position: absolute;
        right: -19px;
        text-align: center;
        bottom: -9px;
        width: 30px;
        z-index: 9998;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        &.no-phrases {
          background-color: $green;
        }
      }
    }
    .tweets {
      background-color: $white;
      border: 1px solid $darkblue;
      display: none;
      margin: 0 auto;
      padding: 10px;
      width: 96%;
      z-index: 999;
      li {
        margin-bottom: 5px;
      }
      .tweet {
        list-style-type: square;
        li {
          margin-bottom: 25px;
        }
      }
    }
  }
  .sidebar {
    float: right;
    width: 30%;
    @include clearfix;
    .fixed {
      position: fixed;
      top: 160px;
      h2 {
        margin-top: 0;
      }
      table {
        td {
          padding-bottom: 3px;
          vertical-align: bottom;
          &.phrase {
            color: $darkblue;
            cursor: pointer;
            font-size: .8em;
            &:hover {
              color: $lightblue;
            }
            &.total-label {
              color: $black;
              cursor: arrow;
              font-size: 1.1em;
              padding-top: 10px;
            }
          }
          &.frequency {
            font-size: .9em;
            font-weight: bold;
            padding-left: 15px;
            &.total {
              font-size: 1.1em;
            }
          }
        }
      }
    }
    .stats {
      margin-bottom: 30px;
    }
  }
}

.dummy {
  display: none;
}
