<header>
  <div class="inner">
    <div class="explanation">
      <%= partial :messages %>

      <h1>PATHwords</h1>
      <p>Documenting the commonly-used words and phrases tweeted by <a href="https://twitter.com/pathalerts" target="_blank">@PATHAlerts</a>, updated hourly. Click on a date bar below to see all of the tweets on that day or hover over a node to view that individual tweet. You can also select a date range/phrase on the right to filter. <a href="https://github.com/brsoff/path-of-least-assistance" target="_blank">View on github</a></p>
    </div>
  </div>
</header>
