<header>
  <div class="inner">
    <h1>PATH of Least Assistance</h1>
    <p>Documenting the phrases of futility tweeted by <a href="https://twitter.com/pathalerts" target="_blank">@PATHAlerts</a>.</p>
  </div>
</header>
