<header>
  <div class="inner">
    <div class="explanation">
      <%= partial :messages %>

      <h1>PATH of Least Assistance</h1>
      <p>Documenting the phrases of futility tweeted by <a href="https://twitter.com/pathalerts" target="_blank">@PATHAlerts</a>, updated hourly. Click on a date bar below to see tweet specifics or select a date range/phrase on the right to filter. Made with &#9825; during a layover in Hoboken. <a href="https://github.com/brsoff/path-of-least-assistance" target="_blank">View on github</a></p>
    </div>
  </div>
</header>
