<li><%= tweet.tweeted_at.localtime.strftime('%l:%M%P') %>: "<%= tweet.phrases %>"</li>
  <ul class="tweet">
    <li>"<%= tweet.tweet_text %>" - <a href='<%= tweet_link_for(tweet.tweet_id)%>' target='_blank'>link</a></li>
  </ul>
