<section class="main">
  <h1>testing</h1>

  <section class="feed">
    <%= partial :day, collection: @timeline, locals: { max: max_phrases_for(@timeline) } %>
  </section>
</section>

<section class="stats">
  <h2>The past <%= days_in(@timeline) %> days:</h2>

   <table>
    <%= partial :stat, collection: @stats %>
  </table>
</section>
