<header>
  <div class="inner">
    <h1>PATH of Least Assistance</h1>
    <h3>Documenting the phrases of futility tweeted by <a href="https://twitter.com/pathalerts" target="_blank">@PATHAlerts</a></h3>
  </div>
</header>

<section class="main">
  <section class="feed">
    <%= partial :day, collection: @timeline, locals: { max: max_phrases_for(@timeline) } %>
  </section>
</section>

<section class="sidebar">
  <%= partial :stats, locals: { timeline: @timeline, stats: @stats } %>
</section>

<div class="dummy"></div>
