<section class="feed">
  <%= partial :day, collection: @timeline, locals: { max: max_phrases_for(@timeline) } %>
</section>

<section class="stats">
  <h2>The past <%= days_in(@timeline) %> days:</h2>

   <ul>
    <%= partial :stat, collection: @stats %>
  </ul>
</section>
