<%= partial :header %>

<section class="main">
  <section class="feed">
    <%= partial :messages %>

    <%= partial :day, collection: @timeline, locals: { max: max_phrases_for(@timeline) } %>
  </section>
</section>

<section class="sidebar">
  <%= partial :stats, locals: { timeline: @timeline, stats: @stats } %>
</section>

<div class="dummy"></div>
