<html>
<head>
  <title>PATHwords</title>
  <link href="stylesheets/styles.css" rel="stylesheet">
</head>
<body>
  <div class="inner">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>
</body>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="javascripts/app.js"></script>
</html>
