<html>
<head>
  <title>path status</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="stylesheets/styles.css" rel="stylesheet">
</head>
<body>
  <div class="inner">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>
</body>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</html>
