/* line 11, ../sass/styles.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 20, ../sass/styles.scss */
.inner {
  margin: 0 auto;
  width: 90%;
}
/* line 3, ../sass/styles.scss */
.inner .wrapper:before, .inner .wrapper:after {
  content: "";
  display: table;
}
/* line 7, ../sass/styles.scss */
.inner .wrapper:after {
  clear: both;
}
/* line 8, ../sass/styles.scss */
.inner .wrapper {
  *zoom: 1;
}
/* line 26, ../sass/styles.scss */
.inner .feed {
  float: left;
  padding: 20px;
  width: 65%;
}
/* line 32, ../sass/styles.scss */
.inner .day .bar {
  background-color: #9BD9F8;
  height: 60px;
  position: relative;
}
/* line 36, ../sass/styles.scss */
.inner .day .bar .count {
  color: #000;
  font-weight: bold;
  font-size: 2em;
  right: 12px;
  position: absolute;
  top: 12px;
}
/* line 45, ../sass/styles.scss */
.inner .day .tweets {
  display: none;
}
/* line 49, ../sass/styles.scss */
.inner .stats {
  float: right;
  padding: 20px;
  width: 30%;
}
