/* line 19, ../sass/styles.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/styles.scss */
body {
  font-family: 'arial';
  font-size: .8em;
}

/* line 33, ../sass/styles.scss */
h1,
h2,
h3,
p {
  margin: 0 0 10px 0;
}

/* line 37, ../sass/styles.scss */
h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

/* line 42, ../sass/styles.scss */
a {
  color: #2980b9;
  text-decoration: none;
}
/* line 45, ../sass/styles.scss */
a:hover {
  color: #3498db;
}

/* line 50, ../sass/styles.scss */
header {
  background-color: white;
  height: 138px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/* line 58, ../sass/styles.scss */
header .inner {
  margin: 0 auto;
  max-width: 1140px;
  padding: 20px 0;
  width: 80%;
}
/* line 63, ../sass/styles.scss */
header .inner .explanation {
  position: relative;
  width: 65%;
}
/* line 66, ../sass/styles.scss */
header .inner .explanation .messages {
  background: #f7f7f7;
  border: 1px solid #ebe8e8;
  bottom: -30px;
  display: none;
  padding: 4px 10px;
  position: absolute;
  right: -42px;
  z-index: 10000;
}
/* line 75, ../sass/styles.scss */
header .inner .explanation .messages .unfilter {
  color: #2980b9;
  cursor: pointer;
}
/* line 78, ../sass/styles.scss */
header .inner .explanation .messages .unfilter:hover {
  color: #3498db;
}
/* line 84, ../sass/styles.scss */
header .inner p {
  line-height: 1.5em;
  margin-bottom: 0;
  width: 90%;
}

/* line 92, ../sass/styles.scss */
.inner {
  margin: 0 auto;
  max-width: 1140px;
  width: 80%;
}
/* line 96, ../sass/styles.scss */
.inner .wrapper {
  margin: 40px 0;
}
/* line 11, ../sass/styles.scss */
.inner .wrapper:before, .inner .wrapper:after {
  content: "";
  display: table;
}
/* line 15, ../sass/styles.scss */
.inner .wrapper:after {
  clear: both;
}
/* line 16, ../sass/styles.scss */
.inner .wrapper {
  *zoom: 1;
}
/* line 100, ../sass/styles.scss */
.inner .main {
  float: left;
  margin-top: 100px;
  width: 65%;
}
/* line 105, ../sass/styles.scss */
.inner .feed {
  background-color: #f7f7f7;
  border: 1px solid #ebe8e8;
  border-radius: 3px;
  padding: 18px 0 20px 0;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 114, ../sass/styles.scss */
.inner .day {
  margin-bottom: 40px;
  position: relative;
}
/* line 11, ../sass/styles.scss */
.inner .day:before, .inner .day:after {
  content: "";
  display: table;
}
/* line 15, ../sass/styles.scss */
.inner .day:after {
  clear: both;
}
/* line 16, ../sass/styles.scss */
.inner .day {
  *zoom: 1;
}
/* line 118, ../sass/styles.scss */
.inner .day h3 {
  display: inline-block;
  font-size: .9em;
  left: -85px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -2px;
  z-index: 999;
}
/* line 128, ../sass/styles.scss */
.inner .day .bar {
  background-color: #2980b9;
  cursor: pointer;
  height: 10px;
  position: relative;
}
/* line 133, ../sass/styles.scss */
.inner .day .bar:hover {
  background-color: #3498db;
}
/* line 136, ../sass/styles.scss */
.inner .day .bar.weekend {
  background-color: #f1c40f;
}
/* line 139, ../sass/styles.scss */
.inner .day .bar .node {
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  height: 16px;
  position: absolute;
  top: -3px;
  width: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* line 149, ../sass/styles.scss */
.inner .day .bar .node .node-hover {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  display: none;
  font-size: .9em;
  height: auto;
  left: 10px;
  padding: 10px;
  position: absolute;
  top: 10px;
  width: 300px;
  z-index: 100001;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 166, ../sass/styles.scss */
.inner .day .bar .count {
  background-color: #e74c3c;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  height: 30px;
  line-height: 24px;
  padding: 3px;
  position: absolute;
  right: -19px;
  text-align: center;
  bottom: -9px;
  width: 30px;
  z-index: 9998;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* line 182, ../sass/styles.scss */
.inner .day .bar .count.no-phrases {
  background-color: #1abc9c;
}
/* line 187, ../sass/styles.scss */
.inner .day .tweets {
  background-color: white;
  border: 1px solid #2980b9;
  display: none;
  padding: 10px;
  z-index: 999;
}
/* line 193, ../sass/styles.scss */
.inner .day .tweets li {
  margin-bottom: 5px;
}
/* line 196, ../sass/styles.scss */
.inner .day .tweets .tweet {
  list-style-type: square;
}
/* line 198, ../sass/styles.scss */
.inner .day .tweets .tweet li {
  margin-bottom: 25px;
}
/* line 204, ../sass/styles.scss */
.inner .sidebar {
  float: right;
  width: 30%;
}
/* line 11, ../sass/styles.scss */
.inner .sidebar:before, .inner .sidebar:after {
  content: "";
  display: table;
}
/* line 15, ../sass/styles.scss */
.inner .sidebar:after {
  clear: both;
}
/* line 16, ../sass/styles.scss */
.inner .sidebar {
  *zoom: 1;
}
/* line 208, ../sass/styles.scss */
.inner .sidebar .fixed {
  position: fixed;
  top: 135px;
}
/* line 211, ../sass/styles.scss */
.inner .sidebar .fixed h2 {
  margin-top: 0;
}
/* line 215, ../sass/styles.scss */
.inner .sidebar .fixed table td {
  padding-bottom: 3px;
  vertical-align: bottom;
}
/* line 218, ../sass/styles.scss */
.inner .sidebar .fixed table td.phrase {
  color: #2980b9;
  cursor: pointer;
  font-size: .8em;
}
/* line 222, ../sass/styles.scss */
.inner .sidebar .fixed table td.phrase:hover {
  color: #3498db;
}
/* line 225, ../sass/styles.scss */
.inner .sidebar .fixed table td.phrase.total-label {
  color: black;
  cursor: arrow;
  font-size: 1.1em;
  padding-top: 10px;
}
/* line 232, ../sass/styles.scss */
.inner .sidebar .fixed table td.frequency {
  font-size: .9em;
  font-weight: bold;
  padding-left: 15px;
}
/* line 236, ../sass/styles.scss */
.inner .sidebar .fixed table td.frequency.total {
  font-size: 1.1em;
}
/* line 243, ../sass/styles.scss */
.inner .sidebar .stats {
  margin-bottom: 30px;
}

/* line 249, ../sass/styles.scss */
.dummy {
  display: none;
}
