/* line 11, ../sass/styles.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 23, ../sass/styles.scss */
h1,
h2,
h3 {
  margin: 0 0 10px 0;
}

/* line 27, ../sass/styles.scss */
h1 {
  font-size: 2.2em;
}

/* line 31, ../sass/styles.scss */
a {
  color: #0AA4F0;
  text-decoration: none;
}
/* line 34, ../sass/styles.scss */
a:hover {
  color: #2BB1F1;
}

/* line 39, ../sass/styles.scss */
header {
  background-color: #fff;
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/* line 47, ../sass/styles.scss */
header .inner {
  margin: 0 auto;
  width: 90%;
}

/* line 53, ../sass/styles.scss */
.inner {
  margin: 0 auto;
  width: 90%;
}
/* line 56, ../sass/styles.scss */
.inner .wrapper {
  margin: 40px 0;
}
/* line 3, ../sass/styles.scss */
.inner .wrapper:before, .inner .wrapper:after {
  content: "";
  display: table;
}
/* line 7, ../sass/styles.scss */
.inner .wrapper:after {
  clear: both;
}
/* line 8, ../sass/styles.scss */
.inner .wrapper {
  *zoom: 1;
}
/* line 60, ../sass/styles.scss */
.inner .main {
  float: left;
  margin-top: 100px;
  width: 65%;
}
/* line 65, ../sass/styles.scss */
.inner .feed {
  border: 1px solid #EBE8E8;
  border-bottom: 0;
  border-top: 0;
  padding: 20px 20px 20px 0;
}
/* line 71, ../sass/styles.scss */
.inner .day {
  margin-bottom: 60px;
  position: relative;
}
/* line 3, ../sass/styles.scss */
.inner .day:before, .inner .day:after {
  content: "";
  display: table;
}
/* line 7, ../sass/styles.scss */
.inner .day:after {
  clear: both;
}
/* line 8, ../sass/styles.scss */
.inner .day {
  *zoom: 1;
}
/* line 75, ../sass/styles.scss */
.inner .day h3 {
  background-color: #fff;
  border: 1px solid #EBE8E8;
  border-radius: 3px;
  display: inline-block;
  left: -10px;
  margin: 0;
  padding: 3px 8px;
  position: absolute;
  top: -25px;
  z-index: 999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 88, ../sass/styles.scss */
.inner .day h3.weekend {
  background-color: #EFEDED;
}
/* line 92, ../sass/styles.scss */
.inner .day .bar {
  background-color: #9BD9F8;
  cursor: pointer;
  height: 40px;
  position: relative;
}
/* line 97, ../sass/styles.scss */
.inner .day .bar:hover {
  background-color: #59C2F5;
}
/* line 100, ../sass/styles.scss */
.inner .day .bar .count {
  background-color: #ff5123;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  height: 35px;
  line-height: 30px;
  padding: 3px;
  position: absolute;
  right: -10px;
  text-align: center;
  bottom: -10px;
  width: 35px;
  z-index: 9998;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* line 119, ../sass/styles.scss */
.inner .day .tweets {
  background-color: #fff;
  border: 1px solid #9BD9F8;
  display: none;
  font-size: 1.2em;
  padding: 10px;
  z-index: 999;
}
/* line 126, ../sass/styles.scss */
.inner .day .tweets li {
  margin-bottom: 5px;
}
/* line 129, ../sass/styles.scss */
.inner .day .tweets .tweet {
  list-style-type: square;
}
/* line 131, ../sass/styles.scss */
.inner .day .tweets .tweet li {
  margin-bottom: 25px;
}
/* line 137, ../sass/styles.scss */
.inner .sidebar {
  float: right;
  width: 30%;
}
/* line 3, ../sass/styles.scss */
.inner .sidebar:before, .inner .sidebar:after {
  content: "";
  display: table;
}
/* line 7, ../sass/styles.scss */
.inner .sidebar:after {
  clear: both;
}
/* line 8, ../sass/styles.scss */
.inner .sidebar {
  *zoom: 1;
}
/* line 141, ../sass/styles.scss */
.inner .sidebar .fixed {
  position: fixed;
  top: 105px;
}
/* line 144, ../sass/styles.scss */
.inner .sidebar .fixed h2 {
  margin-top: 0;
}
/* line 147, ../sass/styles.scss */
.inner .sidebar .fixed table {
  font-size: 1.2em;
}
/* line 149, ../sass/styles.scss */
.inner .sidebar .fixed table td {
  padding-bottom: 5px;
  vertical-align: bottom;
}
/* line 154, ../sass/styles.scss */
.inner .sidebar .fixed .frequency {
  font-size: 1.4em;
  padding-left: 15px;
}
/* line 159, ../sass/styles.scss */
.inner .sidebar .stats {
  margin-bottom: 30px;
}

/* line 165, ../sass/styles.scss */
.dummy {
  display: none;
}
